{% set pageTitle = "Does your condition affect you talking, listening and understanding?" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/application-team/contributors/index-answer" method="post" novalidate>

      <span class="govuk-caption-l">Application team</span>
      <h1 class="govuk-heading-l">
        Contributors
      </h1>

      <p>The lead contact from the solo or lead applicant is the default contributor. A contributor can access, add, edit and delete content in each application question.</p>

      <!-- Conributor 1 -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">
            Contributor
          </h2>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Organisation</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">Trinity Ltd</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Full name</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">Helen Hayes</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Email</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-1">helen.hayes@trinity.com</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Role</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">Bid writer <span>(Lead contact)</span></p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- Contributor 2 -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">
            Contributor
          </h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/application-team/contributors/">
            Remove
          <span class="govuk-visually-hidden">remove</span>
          </a>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/application-team/organisations/add-partner">
            Change
            <span class="govuk-visually-hidden">change</span>
          </a>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Organisation</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">Turnkey Enterprises</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Full name</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">Sally Shaw</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Email</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-1">sally.shaw@turnkeyenterprises.com</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Role</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">Diretor of Finance</p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p><a href="/application-team/contributors/add-contributor">Add contributor</a></p>

{{ govukButton({
  text: "Save and continue"
}) }}

    </form>
    {% include "application-team/organisations/_return-link.html" %}
    <!-- <a href="/p5/list?organisations=completed" class="govuk-button">Save and return to application overview</a> -->

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
