{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility page
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
          <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="organisation-details" method="post" class="form">

        <div class="govuk-form-group">
          <h1 class="govuk-fieldset__heading">
            <label class="govuk-label govuk-label--l" for="firstname">
              Enter your contact details
            </label>
          </h1>
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          <input class="govuk-input" id="full-name" name="full-name"  value="{{ data['full-name'] }}" type="text" spellcheck="false" autocomplete="name">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <div id="email-hint" class="govuk-hint">
            We’ll only use this to send you a receipt
          </div>
          <input class="govuk-input" id="email" name="email" value="{{ data['email'] }}" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="telephone-number">
            Phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number"  value="{{ data['telephone-number'] }}" type="tel" autocomplete="tel">
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>

  </div>
  {% endblock %}
