{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility
{% endblock %}
  {% block beforeContent %}
    <a class="govuk-back-link" href="/start">Back</a>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Enter the invitation reference number
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Invitation reference number
        </label>
        <input class="govuk-input govuk-!-width-one-third" id="event-name" name="event-name" type="text">
      </div>
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I don't have an invitation reference number
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Before you can apply for a UK Shared Prosperity Fund (UKSPF) grant you need to know which invitation you are applying for.</p>
        <p>You can find the invitation that is linked to your area on the
      UKSPF invitation</p>
      </div>
    </details>

    <div class="govuk-grid-column-two-thirds">
      <a href="eligibility-2" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Save and continue
      </a>
    </div>
  </div>

  {% endblock %}
