{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        UKSPF (Employment)
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 10 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Invitation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="eligibility-1" aria-describedby="company-status">
                  Invitation reference number
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">COMPLETED</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Organisation details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Contact information
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="contact-details-status">In Progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Company details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="company-information-status">Not Started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Regulatory body
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not Started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Bank details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not Started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Project details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  How will you use the money?
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not Started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  How will you manage the money?
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not Started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  How will you meet the needs listed in the invitation?
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not Started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  How will you manage the performance of the project?
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="read-declaration-status">Not Started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Check before sending
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Check your answers and send
              </span>
              <strong class="govuk-tag govuk-tag--red app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
