{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  {% endblock %}

  {% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Apply for local employment and skills funding
        </h1>
        <p>If you're an organisation looking to support people facing multiple or complex needs across the UK, you can apply for a grant from the UK Shared Prosperity Fund.</p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">How the fund works</h2>
        <p>The funding is split between different areas of the UK. You can apply for funding for your area through an <a href=""> invitation</a>. The invitation details the criteria that has been set for each area. You can apply for one invitation.</p>

        <h3 class="govuk-heading-s">How to apply</h3>
        <p>You can apply for a grant from the UK Shared Prosperity Fund by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>applying online yourself</li>
          <li>applying through another organisation by partnering with them</li>
        </ul>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s">What is an invitation?</h3>
        <p>Each area of the UK has an <a href="">invitation</a> that states what the local needs are being addressed in that area for the UK Shared Prosperity Fund (Employment).</p>
        <p>The invitations have been written through discussions with local authorities. These discussions have highlighted what needs should be addressed in that area.</p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">What you'll get</h2>
        <p>You'll get money to support a project that supports the needs of your local area. How much money you can apply for depends on the amount outlined in the invitation for your local area.</p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Criteria for the Fund</h2>
        <p></p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">What you need to provide</h2>
        <p>You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your Companies House reference number, Charity Commission number or Office of the Scottish Charity Regulator number, if you have one</li>
          <li>your organisation address and contact details</li>
          <li>details of your project and how it addresses the criteria</li>
        </ul>
        <p>DWP performs due diligence checks on all organisations using the <a href="">Cabinet Office Spotlight tool</a>.</p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">How you will get funding</h2>
        <p></p>
        <h3 class="govuk-heading-s">Funding schedule</h3>
        <p></p>
      </div>


            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">How the fund works</h2>
              <p>The funding is split between different areas of the UK. You can apply for funding for your area through an <a href="">invitation</a>. The invitation details the criteria that has been set for each area. You can apply for one invitation.</p>

              <h2 class="govuk-heading-m">How to apply</h2>
              <p>You can apply for a grant from the UK Shared Prosperity Fund by:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>applying online yourself</li>
                <li>applying through another organisation by partnering with them</li>
              </ul>
            </div>

            <div class="govuk-grid-column-two-thirds">
              <h3 class="govuk-heading-s">Apply online</h3>
              <p>You will need to answer four questions around the criteria during the application.</p>
              <p class="govuk-inset-text">You will need to refer to the invitation that represents your local area.</p>
            </div>


      <div class="govuk-grid-column-two-thirds">
        <a href="eligibility-1" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
            Start
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Before you Start</h3>
        <p>Check which <a href="">invitation</a> you are applying for before you start your application.</p>
        <p>You can also <a href="">register by post</a>.</p>
      </div>

  </div>
  {% endblock %}
