{% extends "layout-no-service-name.html" %}

{% block pageTitle %}
  Apply for UK Shared Prosperity funding
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  {% endblock %}

  {% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Apply for UK Shared Prosperity funding
        </h1>
        <p>The <a href="#">UK Shared Prosperity Fund</a> aims to improve employment prospects for people who are furthest from the labour market.</p>
        <p>It will do so by empowering organisations across the UK, those who know their communities and areas best, to shape decisions and remove the barriers to work that prevent people from fulfilling their potential.</p>
        <p>Funded projects will deliver new and specialised support to people of all working ages, who are unable to access <a href="#">existing employment programmes</a>, or for whom existing employment programmes are unsuitable.</p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Who can apply
        </h2>
        <p>Organisations with a UK business bank account or building society account that can deliver projects that meet all of the needs listed in a competition.</p>
        <p>If an organisation cannot meet all of the needs listed in a competition, but is still an eligible applicant, it can create a consortium by adding partner applicants and meeting all of the needs listed together.</p>
        <p>Eligible applicants must also:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Deliver UK Shared Prosperity funded projects in the UK</li>
          <li>Be a registered company, charity, or a non-registered public body</li>
          <li>Have filed a full set of accounts within the last 12 months</li>
        </ul>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          How the fund works
        </h2>
        <p>The fund covers all of the UK – England, Wales, Scotland, and Northern Ireland – and is split into <a href="#">geographical areas</a>. Each area has a number of relevant competitions that meet the needs and priorities of the people in those communities.</p>
        <p>Organisations apply for funding through competitions.</p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <a href="ukspf-competitions" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
      </div>
  </div>
  {% endblock %}
