{% set pageTitle = "Page title" %}

{% extends "layout-create-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "version-4/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">UK Shared Prosperity Fund competitions</h1>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group">
      <label class="govuk-label" for="filter">
        Search competitions
      </label>
      <input class="govuk-input" id="event-name" name="event-name" type="text">
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Search
    </button>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="sort-hint">
        <div>
          <p>Sort by:</p>
        </div>
        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort-1" name="sort" type="radio" value="open">
            <label class="govuk-label govuk-radios__label" for="sort-1">
              Open
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="closed">
            <label class="govuk-label govuk-radios__label" for="sort-2">
              Closed
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort-3" name="sort" type="radio" value="upcoming">
            <label class="govuk-label govuk-radios__label" for="sort-3">
              Upcoming
            </label>
          </div>
        </div>

      </fieldset>
    </div>
  </div>

  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-s">2 competitions</h3>
    <hr>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <p></p>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-s"><a href="competition/summary">OPEN - Strengthening Employment Skills for the over 50s</a></h3>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Area</h3>
    <p>Greater Manchester</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Fund amount</h3>
    <p>£600,000 over 3 years</p>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">When to apply</h3>
    <p class="govuk-!-margin-bottom-1">Open date: 7 October 2021 at 12:00 am</p>
    <p>Closing date: 20 October 2021 at 12:00 am</p>
    <hr>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <p></p>
  </div>
    <div class="govuk-grid-column-three-quarters">
      <br>
      <h3 class="govuk-heading-s"><a href="competition/summary">OPEN - Support for the homeless</a></h3>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Area</h3>
      <p>Greater Manchester</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Fund amount</h3>
      <p>£600,000 over 3 years</p>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">When to apply</h3>
      <p class="govuk-!-margin-bottom-1">Open date: 7 October 2021 at 12:00 am</p>
      <p>Closing date: 20 October 2021 at 12:00 am</p>
    </div>

</div>


{% endblock %}
