{% set pageTitle = "Does your condition affect you talking, listening and understanding?" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/application-team/organisations/index-answer" method="post" novalidate>

      <span class="govuk-caption-l">Application team</span>
      <h1 class="govuk-heading-l">
        Organisation structure
      </h1>
      <!-- applicant -->
      <h2 class="govuk-heading-m">Applicant</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Organisation name</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">Trinity Ltd</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Organisation type</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-1">Registered company</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Registration number</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">A123456</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p  class="govuk-body govuk-!-margin-bottom-5" style="font-weight:bold;">Status</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-5">Active</p>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- partner -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">
            Partner
          </h2>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/application-team/organisations/">
            Remove
          <span class="govuk-visually-hidden">remove</span>
          </a>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/application-team/organisations/add-partner">
            Change
            <span class="govuk-visually-hidden">change</span>
          </a>
        </div>
      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Organisation name</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">NCHD Ltd</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Organisation type</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-1">Charity</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body govuk-!-margin-bottom-1" style="font-weight:bold;">Registration number</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-1">B123456</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p  class="govuk-body govuk-!-margin-bottom-5" style="font-weight:bold;">Status</p>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body govuk-!-margin-bottom-5">Active</p>
        </div>
        <!-- <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/application-team/organisations/">
            Remove
          <span class="govuk-visually-hidden"></span>
          </a>
        </div>
        <div class="govuk-grid-column-one-third">
          <a class="govuk-link" href="/application-team/organisations/add-partner">
            Change
            <span class="govuk-visually-hidden"></span>
          </a>
        </div> -->
      </div>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Create consortium
      </h2>
      <p>Add a partner applicant to create a consortium. When you add a partner applicant and they accept your invitation, your organisation automatically becomes the lead applicant. Read more about consortium applications.</p>
      <p><a href="/application-team/organisations/add-partner">Add partner applicant</a></p>

{{ govukButton({
  text: "Save and continue"
}) }}

    </form>
    {% include "application-team/organisations/_return-link.html" %}
    <!-- <a href="/p5/list?organisations=completed" class="govuk-button">Save and return to application overview</a> -->

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
