{% set pageTitle = "Does your condition affect you talking, listening and understanding?" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/application-team/organisations/check-your-answers-applicant" method="post" novalidate>

      <span class="govuk-caption-l">Application team</span>
      <h1 class="govuk-heading-l">
        Organisation structure
      </h1>

      <h2 class="govuk-heading-m">
        Change applicant details
      </h2>

  <div>
      <div>
        <label class="govuk-label" for="event-name">
            Organisation name
        </label>
        <input class="govuk-input" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
  </div>

  <div>
      <div>
        <label class="govuk-label" for="event-name">
            Organisation type
        </label>
        <input class="govuk-input govuk-input--width-20" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
  </div>

  <div>
      <div>
        <label class="govuk-label" for="event-name">
            Registration number
        </label>
        <input class="govuk-input govuk-input--width-10" id="name" name="registration-number" type="text" value="">
      </div>
      <p></p>
      <p></p>
  </div>

  <div>
      <div>
        <label class="govuk-label" for="event-name">
            Status
        </label>
        <input class="govuk-input govuk-input--width-10" id="name" name="team-member" type="text" value="">
      </div>
      <p></p>
      <p></p>
  </div>

<br>
      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
