{% set pageTitle = "Does your condition affect you talking, listening and understanding?" %}

{% extends "layout-account.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form action="/application-team/organisations/applicants" method="post" novalidate>

      <span class="govuk-caption-l">Application team</span>
      <h1 class="govuk-heading-l">
        Organisation structure
      </h1>

      <!-- partner 1 -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h2 class="govuk-heading-m">
              Partner
            </h2>

          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
            <span class="govuk-visually-hidden"> remove</span>
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/application-team/organisations/add-partner">
              Change<span class="govuk-visually-hidden"> change</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            NCHD Ltd
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation type
          </dt>
          <dd class="govuk-summary-list__value">
            Registered company
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registration number
          </dt>
          <dd class="govuk-summary-list__value">
            B123456
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Active
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>


{{ govukButton({
  text: "Add this partner"
}) }}


  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
