{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  Your organisation is eligible and you can create an account
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <span class="govuk-caption-l">Eligibility result</span>
              <h1 class="govuk-heading-m">
                Great! Your organisation is eligible and you can create an account
              </h1>
              <p>You can apply as a single organisation or as the lead applicant in a consortium. Consortium applications are relevant if you cannot fulfil all of the needs listed in a competition.</p>
              <p>Before you start an application, you must create an account for your organisation with at least one individual as a lead contact to manage this account.</p>
              <p>The details in your account, such as your bank or building society information, must be updated before you can submit an application. They will be assessed alongside every application you make.</p>
        </div>
        <div>
          <h2 class="govuk-heading-m">
            What about other funding for my project?
          </h2>
          <p>You cannot accept or use funding from any other sources if your application is successful with the UK Shared Prosperity Fund. This includes funding you might win after your project has started.</p>
        </div>

        <div>
          <a href="/version-4/what-type-of-organisation-are-you" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
             Create account
          </a>
        </div>
    </div>
  </div>
  {% endblock %}
