{% extends "layout-no-nav.html" %}

{% block pageTitle %}
  You are not eligible to apply as a lead applicant
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <span class="govuk-caption-l">Eligibility result</span>
            <h1 class="govuk-heading-l">
                You are not eligible to apply as a lead applicant
              </h1>
              <p>Your organisation does not match our eligibility criteria for lead applicants.</p>
              <p>The eligibility criteria is defined in the competition brief. Please refer back to this to find out how you can become a partner of a lead applicant in a consortium.</p>
              <p>Based on the answers you have provided, you cannot apply because:</p>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                {% if(data['eligibility-1'] == 'no') %}
                <li>
                  <p>your organisation cannot meet all of the needs listed in the competition</p>
                </li>
                {% endif %}

                {% if(data['eligibility-2'] == 'no') %}
                <li>
                  <p>your organisation will not deliver projects funded by UKSPF in the UK</p>
                </li>
                {% endif %}

                {% if(data['eligibility-3'] == 'no') %}
                <li>
                  your organisation does not have a UK business bank account or building society account
                </li>
                {% endif %}

                {% if(data['eligibility-4'] == 'no') %}
                <li>
                  your organisation is not a registered company, charity, or a non-registered public body
                </li>
                {% endif %}

                {% if(data['eligibility-5'] == 'no') %}
                <li>
                  your organisation has not filed a full set of accounts within the last 12 months
                </li>
                {% endif %}
              </ul>

              <p>You can <a href="ukspf-competitions">return to all compititions </a>or go back to the <a href="start">UK Shared Prosperity Fund homepage</a></p>
        </div>

    </div>
  </div>
  {% endblock %}
