{% extends "layouts/journey.njk" %}

{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
  {{ t('contact-details:pageTitle') }}
{% endblock %}

{% block journey_form %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text govuk-body">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
</br>
  <h1 class="govuk-heading-l">
    {{ t('contact-details:h1')}}
  </h1>

  {{ casaGovukInput({
    name: 'tel',
    value: formData.tel,
    label: {
      text: t('contact-details:field.tel.label'),
      classes: 'govuk-label--m'
    },
    classes: 'govuk-!-width-one-half',
    casaErrors: formErrors
  }) }}

  {{ casaGovukInput({
    name: 'email',
    value: formData.email,
    label: {
      text: t('contact-details:field.email.label'),
      classes: 'govuk-label--m'
    },
    classes: 'govuk-!-width-one-half',
    casaErrors: formErrors
  }) }}
{% endblock %}
