{% extends "layouts/journey.njk" %}

{% from "casa/components/checkboxes/macro.njk" import casaGovukCheckboxes with context %}


{% block casaPageTitle %}
  {{ t('declaration:pageTitle') }}
{% endblock %}


{% block journey_form %}

  <div class="govuk-grid-column-two-thirds>
      <h1 class="govuk-heading-l">
        Enter the reference number of your invitation
      </h1>

          <div>
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label" for="invitation-ref-number">
                Invitation reference number
              </label>
            </h1>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-!-width-one-third" id="invitation-ref-number" name="invitation-ref-number"  value="{{ data['invitation-ref-number'] }}" type="text" spellcheck="false">
            </div>
          </div>

          <div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                   I do not know my invitation reference number
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>Before you can apply for a UK Shared Prosperity Fund (UKSPF) grant you need to know which invitation you are applying for.</p>
                <p>You can find the invitation that is linked to your area in the guidance.<a href="#"> Check the guidance before applying</a>.</p>
              </div>
            </details>
            </div>
    </div>


{% endblock %}
