{% extends "layouts/journey.njk" %}

{% from "components/button/macro.njk" import govukButton %}


{% block casaPageTitle %}
  {{ t('task-list:pageTitle') }}
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text govuk-body">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
</br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Apply for UKSPF funding
    </h1>

    <ol class="app-task-list">
    <li>
      <h2 class="app-task-list__section">
        <span class="app-task-list__section-number">Invitation</span>
      </h2>
      <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="{{ casa.mountUrl }}inv/invitation-number" {%- if journeyContextData['invitation-number'] %} aria-describedby="invitation-number-completed"{% endif %}>
            Invitation
          </a>{% if journeyContextData['invitation-number'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="invitation-number-completed">Completed</strong>
          {% else %}
             <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
           {% endif %}
        </li>
      </ul>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Organisation details</span>
          </h2>
          <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}p/contact-details" {%- if journeyContextData['contact-details'] %} aria-describedby="contact-details-completed"{% endif %}>
              Contact details
            </a>{% if journeyContextData['contact-details'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
           {% else %}
              <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
            {% endif %}
          </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="{{ casa.mountUrl }}j/organisation-details" {%- if journeyContextData['organisation-details'] %} aria-describedby="organisation-details-completed"{% endif %}>
                Organisation details
              </a>{% if journeyContextData['organisation-details'] %}
              <strong class="govuk-tag app-task-list__task-completed" id="organisation-details-completed">Completed</strong>
              {% else %}
                <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
              {% endif %}
            </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}rb/regulatory-body" {%- if journeyContextData['regulatory-body'] %} aria-describedby="regulatory-body-completed"{% endif %}>
              Regulatory body
            </a>{% if journeyContextData['regulatory-body'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="regulatory-body-completed">Completed</strong>
            {% else %}
              <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <a class="app-task-list__task-name" href="{{ casa.mountUrl }}bd/bank-details" {%- if journeyContextData['bank-details'] %} aria-describedby="bank-details-completed"{% endif %}>
              Bank details
            </a>
            {% if journeyContextData['bank-details'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="bank-details-completed">Completed</strong>
            {% else %}
              <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="bank-details-not-completed">To Do</strong>
            {% endif %}
          </li>

        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">Project details</span>
        </h2>
        <ul class="app-task-list__items">
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="{{ casa.mountUrl }}pd1/project-details-1" {%- if journeyContextData['project-details-1'] %} aria-describedby="project-details-1-completed"{% endif %}>
            How much money are you applying for?
          </a>{% if journeyContextData['project-details-1'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="project-details-1-completed">Completed</strong>
          {% else %}
             <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
           {% endif %}
        </li>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="{{ casa.mountUrl }}pd2/project-details-2" {%- if journeyContextData['project-details-2'] %} aria-describedby="project-details-2-completed"{% endif %}>
            What will you use the money for?
          </a>{% if journeyContextData['project-details-2'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="project-details-2-completed">Completed</strong>
          {% else %}
             <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
           {% endif %}
        </li>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="{{ casa.mountUrl }}pd3/project-details-3" {%- if journeyContextData['project-details-3'] %} aria-describedby="project-details-3-completed"{% endif %}>
            How will you manage the money?
          </a>{% if journeyContextData['project-details-3'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="project-details-3-completed">Completed</strong>
          {% else %}
             <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
           {% endif %}
        </li>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="{{ casa.mountUrl }}pd4/project-details-4" {%- if journeyContextData['project-details-4'] %} aria-describedby="project-details-4-completed"{% endif %}>
            How will your project meet the needs listed in your invitation?
          </a>{% if journeyContextData['project-details-4'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="project-details-4-completed">Completed</strong>
          {% else %}
             <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
           {% endif %}
        </li>
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="{{ casa.mountUrl }}pd5/project-details-5" {%- if journeyContextData['project-details-5'] %} aria-describedby="project-details-5-completed"{% endif %}>
            How will you manage the performance of your project?
          </a>{% if journeyContextData['project-details-5'] %}
          <strong class="govuk-tag app-task-list__task-completed" id="project-details-5-completed">Completed</strong>
          {% else %}
             <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
           {% endif %}
        </li>
        </ul>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Before you submit your application</span>
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="{{ casa.mountUrl }}cya/check-your-answers" {%- if journeyContextData['check-your-answers'] %} aria-describedby="check-your-answers-completed"{% endif %}>
                Check your answers
              </a>{% if journeyContextData['check-your-answers'] %}
              <strong class="govuk-tag app-task-list__task-completed" id="check-your-answers-completed">Completed</strong>
              {% else %}
                 <strong class="govuk-tag app-task-list__task-to-do govuk-tag--grey" id="action-books-not-completed">To Do</strong>
               {% endif %}
            </li>
          </ul>
      </li>
    </ol>

    <p class="govuk-body">
      {{ govukButton({
        text: "Finish",
        href: casa.mountUrl + 'trunk/finish'
      }) }}
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    {% include "partials/journey-sidebar.njk" %}
  </div>
</div>
{% endblock %}
