{% extends "casa/review/page-block.njk" %}

{% from "components/summary-list/macro.njk" import govukSummaryList %}

{% block pageBlockTitle %}
  {{ t('invitation-number:h1') }}
{% endblock %}

{% block reviewBlock %}
  {% set pData = journeyContext['invitation-number'] %}

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: [
      {
        key: {
          text: t('invitation-number:field.tel.label')
        },
        value: {
          text: pData.tel
        },
        actions: {
          items: [
            {
              href: waypointEditUrl + '#f-tel',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('invitation-number:field.tel.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      },
      {
        key: {
          text: t('invitation-number:field.email.label')
        },
        value: {
          text: pData.email
        },
        actions: {
          items: [
            {
              href: waypointEditUrl + '#f-email',
              text: t('review:block.changeLink'),
              visuallyHiddenText: t('invitation-number:field.email.label') | lower,
              classes: 'govuk-link--no-visited-state'
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
