{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  Your dashboard
{% endblock %}
  {% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>

  </div>

  <style>
  p {
      text-align: center;
      color:white;
  }
  </style>
  {% endblock %}

  {% block content %}

  <h1 class="govuk-heading-l">
    Your dashboard
  </h1>
  <p style="color:black; text-align:left;">Placehoder for lead paragrapth text.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <a href="your-applications">
      <div class="govuk-grid-column-one-third" style="background-color:#1d70b8; border-style:solid; border-color:#ffffff; border-width:10px; padding:10px">
        <p class="center">Applications</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">3</p>
      </div>
      </a>

      <a href="lead-applications">
      <div class="govuk-grid-column-one-third" style="background-color:#1d70b8; border-style:solid; border-color:#ffffff; border-width:10px; padding:10px">
        <p class="govuk-!-text-align-centre" style="color:white;">Lead applications</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">2</p>
      </div>
    </a>

      <a href="partnership-applications">
      <div class="govuk-grid-column-one-third" style="background-color:#1d70b8; border-style:solid; border-color:#ffffff; border-width:10px; padding:10px">
        <p class="govuk-!-text-align-centre" style="color:white;">Partnership applications</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">1</p>
      </div>
    </a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <a href="your-partners">
      <div class="govuk-grid-column-one-third" style="background-color:#912b88; border-style:solid; border-color:#ffffff; border-width:10px; padding:10px">
        <p class="center">Partners</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">4</p>
      </div>
      </a>

      <a href="#">
      <div class="govuk-grid-column-one-third" style="background-color:#28a197; border-style:solid; border-color:#ffffff; border-width:10px; padding:10px">
        <p class="govuk-!-text-align-centre" style="color:white;">Total funds value</p>
        <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">£100,000</p>
      </div>
    </a>

    <a href="#">
    <div class="govuk-grid-column-one-third" style="background-color:#28a197; border-style:solid; border-color:#ffffff; border-width:10px; padding:10px">
      <p class="govuk-!-text-align-centre" style="color:white;">Total funds awarded</p>
      <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">£50,000</p>
    </div>
  </a>
  <a href="#">
  <div class="govuk-grid-column-one-third" style="background-color:#b58840; border-style:solid; border-color:#ffffff; border-width:10px; padding:10px">
    <p class="govuk-!-text-align-centre" style="color:white;">Areas</p>
    <p class="govuk-!-font-size-36 govuk-!-font-weight-bold">2</p>
  </div>
</a>
</div>


  {% endblock %}
