{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility page
{% endblock %}
  {% block beforeContent %}
          <a href="#" class="govuk-back-link">Back</a>
  {% endblock %}

  {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          What do you want to do today?
        </h1>

        <p><a href="eligibility-1">Make an application</a></p>
        <p><a href="">Complete an application</a></p>
        <p><a href="">Withdraw an application</a></p>
        <p><a href="">Upload a document</a></p>

      </div>
    </div>
  {% endblock %}
