
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      UKSPF (Employment) Prototype
    </h1>

    <h1 class="govuk-heading-m">Latest version</h1>
    <p class="govuk-body">Changes to the previous version include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>tbc</li>
      <li>tbc</li>
      <li>tbc</li>
    </ul>

    <div>
      <a href="version-2/start" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
          Version 2
      </a>
    </div>
    <div>
      <a href="/version-2/task-list">
          Task list page
      </a>
    </div>
    <br>
  </div>
</div>
<div>
  <h2 class="govuk-heading-m">Previous versions</h2>
<div>
    <section>
        <dl>
          <a href="/version-1/start" class="govuk-link govuk-!-font-size-19">Version 1</a>
        </dl>
        <p>
          End-to-end journey for an unauthenticated user applying for UKSPF funding. The user must complete their application within the same session.
        </p>

    </section>
</div>
{% endblock %}
